.bookDetailsWrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding:1rem 0 3rem;    
}

@media (max-width:540px){
    .bookDetailsWrapper{
        grid-template-columns: 1fr;
    }
}