.addCountWrapper{    
    padding: 2rem 1rem;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);  
    max-height: 250px;
}
.fieldGroup{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

}
.buttonGroup{
    display: flex;
    justify-content: flex-end;
}
.inputGroup{
    display: flex;
    
    input{
      width: 2rem;
      border:1px solid grey;
      border-radius: 5px;
      outline: none;
      padding: 0;
      text-align: center;
    }
    .countBtn{
        padding: 0.2rem 0.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
