.addCountWrapper{    
    padding: 2rem 1rem;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);  
    max-height: 250px;
}
.fieldGroup{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    input{
        width: 3rem;
        padding-left:0.2rem;
    }
}
.buttonGroup{
    display: flex;
    justify-content: flex-end;
}
