{
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "jest": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "singleQuote": true,
        "parser": "flow"
      }     
    ],
    "no-console":"error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/extensions": ["error", "never"]
  }
}
