.cartTable{
 
table{
    td,th{
        text-align: left;
        vertical-align: middle;
    }
    tr td:last-child, tr th:last-child{
        text-align: right;
    }
 }
}
.totalPriceInfo{
    display: flex;
    justify-content: flex-end;
}
