.cartWrapper{
    min-height:300px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

    i{
        font-size: 2rem;
    }

}
.btnWrapper{
    width: 100%;
    display: flex;
    justify-content:space-between;
}