.formContainer {
    max-width: 360px;
    margin: 2rem auto;
    overflow: hidden;
    padding: 0 2rem;
  }
  
  .picLogin{
      max-width: 360px;
      width: 100%;
      display: block;
      margin:0 auto 1rem;
  }